.parc-row .base {
  position: relative;
}
.parc-row img {
  image-rendering: pixelated;
}
.parc-row .is-middle {
  position: relative;
}
.parc-row .parc-sprite {
  position: absolute;
  width: 225px;
  height: 225px;
  overflow: hidden;
  inset: 108px 91px;
}
.parc-row .parc-sprite img {
  display: block;
  animation: parc-sprite 0.8s steps(5) infinite;
  max-width: none;
}
.parc-row .floater-1 {
  position: absolute;
  inset: 10rem 20rem;
  background: red;
  width: 5rem;
  height: 5rem;
}
.parc-row .parc-wakes {
  position: absolute;
  inset: -2rem;
}
.parc-row .parc-wake {
  position: absolute;
  background: white;
  width: 0.5rem;
  height: 0.5rem;
  animation: wake-pan linear infinite;
  animation-duration: 12s;
  opacity: 0;
}
.parc-row .parc-wake:nth-child(1) {
  inset: 2rem 0;
  animation-delay: 0s;
  width: 2rem;
  height: 2rem;
  background: #ec5430;
}
.parc-row .parc-wake:nth-child(2) {
  inset: 17rem 0;
  animation-delay: 3s;
  width: 7rem;
  height: 7rem;
  background: #eecf15;
}
.parc-row .parc-wake:nth-child(3) {
  inset: -2rem 0;
  animation-delay: 4.5s;
  width: 4rem;
  height: 4rem;
  background: #eecf15;
}
.parc-row .parc-wake:nth-child(4) {
  inset: 22rem 0;
  animation-delay: 0.5s;
  width: 7rem;
  height: 7rem;
  background: #dd3066;
}
.parc-row .parc-wake:nth-child(5) {
  inset: 2rem 0;
  animation-delay: 5s;
  width: 8rem;
  height: 8rem;
  background: #dd3066;
}
.parc-row .parc-wake:nth-child(6) {
  inset: -2rem 0;
  animation-delay: 2s;
  width: 4rem;
  height: 4rem;
  background: #f3f3f3;
}
.parc-row .parc-wake:nth-child(7) {
  inset: 2rem 0;
  animation-delay: 15s;
  width: 3rem;
  height: 3rem;
  background: #b12c59;
}
.parc-row .parc-wake:nth-child(8) {
  inset: 12rem 0;
  animation-delay: 10s;
  width: 10rem;
  height: 10rem;
  background: #fff;
}
.parc-row .parc-wake:nth-child(9) {
  inset: 4rem 0;
  animation-delay: 6.5s;
  width: 12rem;
  height: 12rem;
  background: #75ccea;
}
.parc-row .is-fast .parc-wake {
  animation-duration: 0.5s;
}
@keyframes wake-pan {
  0% {
    transform: translateX(-120vw);
    opacity: 1;
  }
  100% {
    transform: translateX(120vw);
    opacity: 1;
  }
}
.parc-row .base.is-active {
  transform: rotate(11deg) translate(-9px, -7px);
}
.parc-row .base.is-active .parc-sprite img {
  animation-duration: 0.1s;
}
.parc-row .parc-boat {
  position: absolute;
  inset: 143px -42px;
  max-width: none;
}

@keyframes parc-spin {
  0% {
    transform: rotate();
  }
  100% {
    transform: rotate(1turn) translate(12rem, 0);
  }
}
@keyframes parc-sprite {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-1125px);
  }
}
@media only screen and (max-width: 768px) {
  .hero.parc-row h2.subtitle {
    margin-bottom: 0;
  }
  .hero.is-primary.parc-row .is-middle {
    margin-bottom: 0;
  }
  .hero.is-primary.parc-row .parc-wake {
    animation-duration: 4s;
  }
  .hero.is-primary.parc-row .is-fast .parc-wake {
    animation-duration: 0.5s;
  }
  .hero.is-primary.parc-row .base {
    cursor: inherit;
    margin-bottom: 1rem;
  }
  .hero.is-primary.parc-row .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .parc-row .button {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .is-middle {
    transform: translate(14%, -6%) scale(1.1);
  }
}
@media only screen and (max-width: 500px) {
  .is-middle {
    transform: translate(7%, -6%) scale(0.9);
  }
}
@media only screen and (max-width: 400px) {
  .is-middle {
    transform: translate(-5%, -22%) scale(0.8);
  }
}
.hero.satoshi.is-primary {
  background-color: #00439a;
}
.hero.satoshi.is-primary .is-middle {
  overflow: hidden;
  margin-bottom: -4rem;
}
.hero.satoshi.is-primary .base {
  max-width: 460px;
  position: relative;
  animation: david-enters 1s ease-out;
  cursor: pointer;
}
.hero.satoshi.is-primary .base * {
  transition: 0.3s ease;
}
.hero.satoshi.is-primary .base .eyes,
.hero.satoshi.is-primary .base .body {
  position: absolute;
  top: 0;
}
.hero.satoshi.is-primary .base .eyes {
  animation: eyes 5s ease;
  animation-delay: 2s;
}
.hero.satoshi.is-primary .base .dome.is-active {
  transform: translateY(-5rem);
}
.hero.satoshi.is-primary .base img {
  width: 100%;
  display: block;
}
.hero.satoshi.is-primary .base.is-active .dome {
  transform: translateY(-5rem);
}

@keyframes david-enters {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes david-exits {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2rem);
  }
}
@keyframes eyes {
  0% {
    transform: translateX();
  }
  5% {
    transform: translateX(-0.75rem);
  }
  50% {
    transform: translateX(-0.75rem);
  }
  60% {
    transform: translateX(0.75rem);
  }
  95% {
    transform: translateX(0.75rem);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 768px) {
  .hero.satoshi h2.subtitle {
    margin-bottom: 0;
  }
  .hero.is-primary.satoshi .is-middle {
    overflow: hidden;
    margin-bottom: 0;
  }
  .hero.is-primary.satoshi .base {
    cursor: inherit;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .hero.is-primary.satoshi .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .satoshi .button {
    width: 100%;
  }
}
.hero.shrooms.is-primary {
  background-color: #38009a;
}
.hero.shrooms.is-primary .base {
  max-width: 460px;
  position: relative;
  margin-bottom: -3rem;
}
.hero.shrooms.is-primary .shroom-head,
.hero.shrooms.is-primary .fireworks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero.shrooms.is-primary .shroom-head {
  animation: shroom-bob 2s ease-in-out infinite, shroom-hue 10s linear infinite;
}
.hero.shrooms.is-primary .shroom-body {
  animation: shroom-bob 2s ease-in infinite, shroom-hue 10s linear infinite;
  animation-delay: 0.2s;
}
.hero.shrooms.is-primary img {
  width: 100%;
  display: block;
}

.spore-spin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: spore-spin 3s linear infinite;
  transform-origin: 50% 50%;
}

.spores {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(0deg) scale(0.6);
}
.spores:nth-child(2) {
  transform: rotate(-90deg) scale(0.6);
}
.spores:nth-child(3) {
  transform: rotate(90deg) scale(0.6);
}
.spores:nth-child(4) {
  transform: rotate(180deg) scale(0.6);
}

.spore {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  opacity: 0;
  border-radius: 50%;
}
.spore:nth-child(1) {
  left: 7%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 3453ms;
  animation-duration: 6287ms;
}
.spore:nth-child(2) {
  left: 14%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 1451ms;
  animation-duration: 6182ms;
}
.spore:nth-child(3) {
  left: 21%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 581ms;
  animation-duration: 6001ms;
}
.spore:nth-child(4) {
  left: 28%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 3115ms;
  animation-duration: 6213ms;
}
.spore:nth-child(5) {
  left: 35%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 4413ms;
  animation-duration: 6065ms;
}
.spore:nth-child(6) {
  left: 42%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 837ms;
  animation-duration: 6299ms;
}
.spore:nth-child(7) {
  left: 49%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 3425ms;
  animation-duration: 6010ms;
}
.spore:nth-child(8) {
  left: 56%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 4211ms;
  animation-duration: 6282ms;
}
.spore:nth-child(9) {
  left: 63%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 4669ms;
  animation-duration: 5819ms;
}
.spore:nth-child(10) {
  left: 70%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 4307ms;
  animation-duration: 5535ms;
}
.spore:nth-child(11) {
  left: 77%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 4269ms;
  animation-duration: 5469ms;
}
.spore:nth-child(12) {
  left: 84%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 3379ms;
  animation-duration: 6074ms;
}
.spore:nth-child(13) {
  left: 91%;
  animation: shootSpores 2000ms infinite ease-out;
  animation-delay: 756ms;
  animation-duration: 5479ms;
}
.spore:nth-child(odd) {
  background: #13d4ff;
}
.spore:nth-child(even) {
  z-index: 1;
}
.spore:nth-child(4n) {
  width: 20px;
  height: 20px;
  animation-duration: 10000ms;
}
.spore:nth-child(3n) {
  width: 50px;
  height: 50px;
  animation-duration: 11000ms;
  animation-delay: 6000ms;
}
.spore:nth-child(4n-7) {
  background: #af05e2;
}

@keyframes spore-spin {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes shootSpores {
  from {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform-origin: 20px 20px;
    transform: translate(150px, -100px) scale(6);
  }
  80% {
    opacity: 1;
    transform-origin: 50px 20px;
    transform: translate(-150px, 100px) scale(6);
  }
  to {
    transform: translate(0, -500px) scale(2);
  }
}
@keyframes shroom-bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shroom-hue {
  100% {
    filter: hue-rotate(359deg);
  }
}
@media only screen and (max-width: 768px) {
  .hero.shrooms h2.subtitle {
    margin-bottom: 0;
  }
  .hero.is-primary.shrooms .base {
    margin-bottom: 1.5rem;
  }
  .hero.is-primary.shrooms .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .shrooms .button {
    width: 100%;
  }
}
.hero.regulators.is-primary {
  background-color: #00439a;
}
.hero.regulators.is-primary .base {
  max-width: 460px;
  position: relative;
  margin-bottom: -3rem;
}
.hero.regulators.is-primary .base * {
  transition: all 0.1s ease;
}
.hero.regulators.is-primary .base .g-head,
.hero.regulators.is-primary .base .g-eyes,
.hero.regulators.is-primary .base .eye-wrap,
.hero.regulators.is-primary .base .head-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero.regulators.is-primary .base.is-active .head-wrap {
  transform: scale(0.75);
}
.hero.regulators.is-primary .base .eye-wrap {
  transform: translate(-10px, -5px);
}
.hero.regulators.is-primary .base .eye-wrap .g-eyes {
  transform: translate(10px, 5px);
}
.hero.regulators.is-primary .base img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 768px) {
  .hero.regulators h2.subtitle {
    margin-bottom: 0;
  }
  .hero.is-primary.regulators .base {
    margin-bottom: 1.5rem;
    overflow: hidden;
  }
  .hero.is-primary.regulators .base .eye-wrap {
    transform: translate(-6px, -6px);
  }
  .hero.is-primary.regulators .base .eye-wrap .g-eyes {
    transform: translate(6px, 6px);
  }
  .hero.is-primary.regulators .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .regulators .button {
    width: 100%;
  }
}
.hero.legends.is-primary {
  background-color: #2b2b2b;
  background: radial-gradient(circle, rgb(195, 104, 55) 0%, rgb(43, 33, 149) 89%);
  animation: bg-swell 12s ease infinite;
  background-size: 200% 200%;
}
.hero.legends.is-primary .base {
  max-width: 460px;
  position: relative;
  margin-bottom: -10rem;
}
.hero.legends.is-primary .base img {
  width: 100%;
  display: block;
}
@keyframes bg-swell {
  0% {
    background-position: -20% 20%;
  }
  50% {
    background-position: 20% 20%;
  }
  100% {
    background-position: -20% 20%;
  }
}
.leafs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.leaf {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #bdb482;
  top: 0;
  opacity: 0;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
}
.leaf:nth-child(1) {
  left: 7%;
  transform: rotate(3deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 9101ms;
  animation-duration: 12163ms;
}
.leaf:nth-child(2) {
  left: 14%;
  transform: rotate(45deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 3361ms;
  animation-duration: 12765ms;
}
.leaf:nth-child(3) {
  left: 21%;
  transform: rotate(74deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 5895ms;
  animation-duration: 11123ms;
}
.leaf:nth-child(4) {
  left: 28%;
  transform: rotate(-60deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 9962ms;
  animation-duration: 11622ms;
}
.leaf:nth-child(5) {
  left: 35%;
  transform: rotate(-76deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 5846ms;
  animation-duration: 11714ms;
}
.leaf:nth-child(6) {
  left: 42%;
  transform: rotate(76deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 5540ms;
  animation-duration: 12296ms;
}
.leaf:nth-child(7) {
  left: 49%;
  transform: rotate(-79deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 5701ms;
  animation-duration: 12123ms;
}
.leaf:nth-child(8) {
  left: 56%;
  transform: rotate(70deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 3378ms;
  animation-duration: 12250ms;
}
.leaf:nth-child(9) {
  left: 63%;
  transform: rotate(57deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 4534ms;
  animation-duration: 12079ms;
}
.leaf:nth-child(10) {
  left: 70%;
  transform: rotate(16deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 7168ms;
  animation-duration: 11462ms;
}
.leaf:nth-child(11) {
  left: 77%;
  transform: rotate(-72deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 5567ms;
  animation-duration: 10958ms;
}
.leaf:nth-child(12) {
  left: 84%;
  transform: rotate(-65deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 724ms;
  animation-duration: 11789ms;
}
.leaf:nth-child(13) {
  left: 91%;
  transform: rotate(7deg);
  animation: makeItRain 4000ms infinite ease-out;
  animation-delay: 8039ms;
  animation-duration: 11652ms;
}
.leaf:nth-child(odd) {
  background: #729ba4;
}
.leaf:nth-child(even) {
  z-index: 1;
}
.leaf:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 20000ms;
}
.leaf:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 22000ms;
  animation-delay: 12000ms;
}
.leaf:nth-child(4n-7) {
  background: #bd9f7a;
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translate(-150px, 500px) rotate(120deg);
  }
}
@media only screen and (max-width: 768px) {
  .hero.legends h2.subtitle {
    margin-bottom: 0;
  }
  .hero.is-primary.legends .base {
    margin-bottom: 0rem;
    overflow: hidden;
  }
  .hero.is-primary.legends .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .legends .button {
    width: 100%;
  }
}
.hero.rudeboy.is-primary {
  background-color: #2b2b2b;
}
.hero.rudeboy.is-primary .base {
  max-width: 500px;
  position: relative;
  margin-bottom: -5rem;
}
.hero.rudeboy.is-primary .base .spiral {
  animation: rude-spiral 16s linear infinite;
}
.hero.rudeboy.is-primary .base .spiral img {
  transform: scale(8);
  width: 200vw;
}
.hero.rudeboy.is-primary .base .arm,
.hero.rudeboy.is-primary .base .head,
.hero.rudeboy.is-primary .base .tounge,
.hero.rudeboy.is-primary .base .eyes {
  position: absolute;
  top: 0;
  left: 0;
}
.hero.rudeboy.is-primary .base .head {
  animation: rudevibe-med 1s ease infinite;
  animation-delay: 0.15s;
}
.hero.rudeboy.is-primary .base .body {
  animation: rudevibe-med 1s ease infinite;
}
.hero.rudeboy.is-primary .base .eyes {
  animation: rudevibe-small 1s ease infinite;
  animation-delay: 0.1s;
}
.hero.rudeboy.is-primary .base .tounge {
  animation: rudevibe-small 1s ease infinite, rudesway 2s ease infinite;
  animation-delay: 0.7s;
  margin-top: -2px;
}
.hero.rudeboy.is-primary .base .arm {
  animation: rudearmtilt 1s ease infinite;
  transform-origin: 30% 70%;
}
.hero.rudeboy.is-primary .base img {
  width: 100%;
  display: block;
}
.hero.rudeboy.is-primary .base img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.hero.rudeboy.is-primary .base img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
}
.hero.rudeboy.is-primary .is-middle {
  animation: slide-in 0.5s ease forwards;
}

@keyframes rudearmtilt {
  0% {
    transform: rotate();
  }
  50% {
    transform: rotate(5deg) translateY(-8px);
  }
  100% {
    transform: rotate();
  }
}
@keyframes rudesway {
  0% {
    left: 0;
  }
  50% {
    left: 4px;
  }
  100% {
    left: 0;
  }
}
@keyframes rudeheadtilt {
  0% {
    transform: rotate();
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate();
  }
}
@keyframes rudevibe-med {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY();
  }
}
@keyframes rudevibe-small {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY();
  }
}
@keyframes rude-spiral {
  0% {
    transform: rotate();
  }
  100% {
    transform: rotate(1turn);
  }
}
@media only screen and (max-width: 768px) {
  .hero.rudeboy h2.subtitle {
    margin-bottom: 0;
  }
  .hero.is-primary.rudeboy {
    background: black;
  }
  .hero.is-primary.rudeboy .base {
    margin-bottom: 0rem;
    overflow: hidden;
    background: #333;
    border-radius: 35rem;
  }
  .hero.is-primary.rudeboy .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .rudeboy .button {
    width: 100%;
  }
  .rudeboy .container {
    overflow: hidden;
    border-radius: 0.5rem;
  }
}
.hogs .base {
  position: relative;
  margin-bottom: -4rem;
  cursor: pointer;
}
.hogs .base img {
  width: 100%;
  display: block;
}
.hogs .base img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.hogs .base img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
}
.hogs .is-middle {
  animation: slide-in 0.5s ease forwards;
}

@media only screen and (max-width: 768px) {
  .hero.hogs h2.subtitle {
    margin-bottom: 0;
  }
  .hogs .base {
    margin-bottom: 0rem;
  }
  .hogs .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .hogs .button {
    width: 100%;
  }
  .hogs .container {
    overflow: hidden;
    border-radius: 0.5rem;
  }
}
.hero.hogs {
  background: linear-gradient(-45deg, #c20044, #ca4700, #0297cd, #002e99);
  background-size: 400% 400%;
  animation: disco 1s ease, flash 1s linear;
  animation-iteration-count: 3;
}
.hero.hogs img {
  animation: vibe 0.5s ease infinite;
  animation-iteration-count: 6;
}
.hero.hogs img:nth-child(3) {
  animation-delay: 0.05s;
}
.hero.hogs .base {
  animation-iteration-count: 6;
}
.hero.hogs.disco {
  animation: disco 1s ease, flash 1s linear;
  animation-iteration-count: infinite;
}
.hero.hogs.disco .base {
  animation: slide 0.5s ease;
  animation-iteration-count: infinite;
}
.hero.hogs.disco .base img {
  width: 100%;
  display: block;
}
.hero.hogs.disco .base img:nth-child(2) {
  animation: vibe 0.5s ease infinite;
  animation-iteration-count: infinite;
}
.hero.hogs.disco .base img:nth-child(3) {
  animation: vibe 0.5s ease infinite;
  animation-delay: 0.05s;
  animation-iteration-count: infinite;
}

@keyframes slide-in {
  0% {
    transform: translateY(15rem);
  }
  100% {
    transform: translateY();
  }
}
@keyframes vibe {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY();
  }
}
@keyframes slide {
  0% {
    transform: translateX();
  }
  50% {
    transform: translateX(0.5rem) rotate(1deg);
  }
  100% {
    transform: translateX();
  }
}
@keyframes disco {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes flash {
  1% {
    filter: brightness(1);
  }
  2% {
    filter: brightness(1.2);
  }
  3% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(1);
  }
  21% {
    filter: brightness(1.1);
  }
  23% {
    filter: brightness(1);
  }
  70% {
    filter: brightness(1);
  }
  71% {
    filter: brightness(1.07);
  }
  73% {
    filter: brightness(1);
  }
}
.xroyalty .title,
.xroyalty .subtitle {
  text-shadow: 0 0 5px rgb(253, 224, 0);
  color: #fff5bb;
  margin: 1rem 2rem;
}
.xroyalty .title {
  margin-top: 2rem;
}
.xroyalty .title-card {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 1rem;
}

.xroyalty .base {
  position: relative;
  max-width: 460px;
  max-height: 25rem;
  animation: group 6s ease forwards;
}
.xroyalty .base img {
  display: block;
}
.xroyalty .base img:first-child {
  position: absolute;
  animation: king 23s ease forwards;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.xroyalty .base img:last-child {
  margin-right: 13rem;
  animation: queen 23s ease forwards;
}

@media only screen and (min-width: 768px) {
  .xroyalty .base img:last-child {
    left: 70%;
  }
}
@keyframes king {
  0% {
    filter: blur(1px) brightness(0.8);
  }
  50% {
    filter: blur();
  }
  100% {
    filter: blur(1px) brightness(0.8);
  }
}
@keyframes queen {
  0% {
    filter: blur();
  }
  50% {
    filter: blur(1px) brightness(0.8);
  }
  100% {
    filter: blur();
  }
}
@keyframes group {
  0% {
    filter: brightness(0.1);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
.hero.xroyalty {
  background: linear-gradient(-45deg, #9b462c, #6b2323, #1a5c73, #128469);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 768px) {
  .xroyalty .buttons {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .xroyalty .button {
    width: 100%;
  }
  .xroyalty .container {
    overflow: hidden;
    border-radius: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .xroyalty .base {
    bottom: -3.7rem;
  }
  .xroyalty .base img:last-child {
    margin-left: -12%;
  }
  .xroyalty.hero h2.subtitle {
    margin-bottom: 0;
  }
  .xroyalty .buttons {
    justify-content: center;
    transform: translateY(1.5rem);
  }
}


/*# sourceMappingURL=custom.css.map */
